:root {
--primary-color: #007bff;
--secondary-color: #6c757d;
--accent-color: #17a2b8;
--background-color: #eeeeee;
--group-color: #e2e2e2;

--font-color: #333;

--padding-sm: 0.5rem;
--padding-md: 1rem;
--padding-lg: 1.5rem;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--secondary-color);
  line-height: 1.6;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
