:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --accent-color: #17a2b8;
  --background-color: #eeeeee;
  --group-color: #e2e2e2;
  --font-color: #333;

  --water-high: #27b0ff;
  --water-med: #ffaa44;
  --water-low: #ff4444;
  
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  
  --border-radius: 25px;
  --border-radius-sm: 6px;
  
  --overlay-light: rgba(255, 255, 255, 0.1);
  --overlay-dark: rgba(0, 0, 0, 0.1);
  
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 2px 8px rgba(0, 0, 0, 0.4);
  
  --transition-speed: 0.2s;

  --red: #ff4444;
  --orange: #FF7635;
  --yellow: #F4D03F;
  --green: #7f9261;
  --blue: #44aaff;
  --purple: #aa44ff;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--secondary-color);
  line-height: 1.6;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
